<!--suppress AngularInvalidExpressionResultType -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'tabs.dances' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dances != null" class="ion-padding">
    <ngx-datatable
      class="dark"
      [limit]="preferences.pageSize"
      [rows]="rows"
      [rowHeight]="50"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [messages]="{
        'emptyMessage': '',
        'totalMessage': 'table.count' | translate
      }">
      <ngx-datatable-column name="Id">
      </ngx-datatable-column>

      <ngx-datatable-column name="Name">
        <ng-template ngx-datatable-header-template>
          <span>{{'table.name' | translate}}</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              *ngIf="!editing[rowIndex]">
              {{value}}
            </span>
          <label>
            <input
              autofocus
              (blur)="updateValue($event, 'name', rowIndex)"
              *ngIf="editing[rowIndex]"
              type="text"
              [value]="value"
            />
          </label>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Action">
        <ng-template ngx-datatable-header-template>
          <span>{{'table.action' | translate}}</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          <button (click)="editing[rowIndex]=true" *ngIf="!editing[rowIndex]">
            {{'table.edit' | translate}}
          </button>
          <button (click)="editing[rowIndex]=false" *ngIf="editing[rowIndex]">
            {{'table.save' | translate}}
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</ion-content>
